.trip-title {
	//Should fix, temporary
	padding-top: 150;

	margin-left: 25px;
	color: #FFF;
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	margin-left: 10px;
	font-weight: 700;
}

#trip-description {
	color: #FFF;
}