body {
	overflow-y: hidden;
}

#content {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all .35s cubic-bezier(0, 1.1, 0.2, 1.1);
	box-shadow: -17px -9px 26px -16px rgba(0,0,0,0.75);
	backface-visibility: hidden;
	background: #666;
	overflow-x: hidden;
	backface-visibility: hidden;
	perspective: 1000;
}

#stage {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	perspective:1000px;
	background-size: cover;
	backface-visibility: hidden;
	background-image: url("res/wood.jpg");
}

#bars {
	position: absolute;
	top: 15px;
	right: 15px;
	color: white;
	font-size: 22px;
	cursor: pointer;
}
