<div class="scrollable-page">
	<div id="about-banner">
		<div id="about-banner-text">Hi, I'm <span id="about-banner-name">Cameron</span>.</div>
		<div id="about-banner-subtext">I love programming, tinkering and being in the mountains.</div>
	</div>

	<div id="about-profile"></div>

	<div class="container-fluid">
		<div id="about-body" class="row page-row-top">
			Currently, I’m a Senior at the University of Massachusetts Amherst studying computer science and I love building cool stuff. Whether in a hackathon, at work or just for fun, coding is what I do. I’m passionate about building great things and have been since I started programming when I was eleven. Over the past few years, I’ve taught myself a number of languages and become acquainted with a number of frameworks and libraries. Currently, I employ these skills at Vinolytics where I'm responsible for the development of our web platform.
			<br><br>
			When I’m not building stuff for fun, in class or at work, there's nowhere I’d rather be but in the mountains. Over the past several years I've learned to backpack and climb (particularly ice). I use my skills to explore beautiful locations and have ventured to densely forested wilderness, rainforests on the edge of the ocean, snowfields thousands of feet in elevation and many more. I greatly enjoy traveling to these beautiful places and technical challenges of exploring them.
		</div>

		<div class="row page-row">
			<div class="col-md-4 about-info about-col-left">
				<i class="fa fa-code about-info-icon"></i>
				<div class="about-info-title">Languages</div>
				<div class="about-info-text">JavaScript, Java, Python, Objective-C, and of course HTML5 and CSS3.</div>
			</div>

			<div class="col-md-4 about-info about-col">
				<i class="fa fa-book about-info-icon"></i>
				<div class="about-info-title">Technologies</div>
				<div class="about-info-text">NodeJS, React, Redux, RabbitMQ, Postgres, Express, Mongoose, Angular, jQuery, PhantomJS/CasperJS/SpookyJS, Heroku</div>
			</div>

			<div class="col-md-4 about-info about-col-right">
				<i class="fa fa-trophy about-info-icon"></i>
				<div class="about-info-title">Awards</div>
				<div class="about-info-text">Finalist at HackUMass II <br> Best Use of the FitBit API at HackUMass III <br> Web Runner Up (Second Place) at HackRPI</div>
			</div>
		</div>

		<div class="row page-row">
			<div class="col-md-12 about-info">
				<i class="fa fa-briefcase about-info-icon"></i>
				<div class="about-info-title">Work and Volunteering</div>
				<div class="about-info-text">
                    Software Engineer, Vinolytics, Boston MA <b>•</b> April 2016 - Current
					<br>
                    Engineering Intern, Salsify, Boston MA <b>•</b> May 2016 - August 2016
					<br>
					Student Developer at Enterprise Services, IT at Amherst, University of Massachussetts Amherst <b>•</b> December 2014 - August 2016
					<br>
					Instructor at College Academy, Easton MA <b>•</b> June 2013 - August 2015
					<br>
					<br>
					Volunteer Teacher at MIT Splash <b>•</b> November 2014, November 2015
					<br>
					Volunteer Trail Crew member, Appalachian Mountain Club <b>•</b> June 2012 - July 2013
				</div>
			</div>
		</div>

		<div class="row page-row about-contact-icons">
			<div class="col-md-12">
				<div class="col-md-3 about-contact-icon">
					<a href="https://github.com/cwheel"><i class="fa fa-github fa-center"></i>
					<br>
					GitHub
					</a>
				</div>

				<div class="col-md-3 about-contact-icon">
					<a href="mailto:me@cwheeler.com"><i class="fa fa-envelope fa-center"></i>
					<br>
					Email
					</a>
				</div>

				<div class="col-md-3 about-contact-icon">
					<a href="https://www.linkedin.com/in/cameron-wheeler-602b45100"><i class="fa fa-linkedin-square fa-center"></i>
					<br>
					LinkedIn
					</a>
				</div>

				<div class="col-md-3 about-contact-icon">
					<a href="../res/resume.pdf"><i class="fa fa-file-text fa-center"></i>
					<br>
					Resume
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
