<div class="page-container">
	<div id="home-container">
		<div id="clouds-layer-base"></div>
		<div id="clouds-layer-1"></div>
		<div id="clouds-layer-2"></div>
		<div id="clouds-layer-3"></div>

		<div id="home-center">
			<span id="home-first">Cameron</span>
			<span id="home-last">&nbsp;Wheeler</span>
			<div id="tagline">Software Engineer / Adventurer</div>
		</div>

		<div id="contact-bar">
			<a class="contact-icon" href="https://github.com/cwheel"><i class="fa fa-github"></i></a>
			<a class="contact-icon" href="mailto:me@cwheeler.com"><i class="fa fa-envelope"></i></a>
			<a class="contact-icon" href="https://www.linkedin.com/in/cameron-wheeler-602b45100"><i class="fa fa-linkedin-square"></i></a>
			<a class="contact-icon" href="../res/resume.pdf"><i class="fa fa-file-text"></i></a>
		</div>
	</div>
</div>
