<div class="anim-zoom-out">
	<div class="row page-row-top">
		<div class="col-md-{{12/itemsPerRow}} page-title">
			<div class="tile-page-container">
				<div class="page-title">Projects</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<div ng-repeat="projectRow in projects" class="row page-row">
			<div ng-repeat="project in projectRow" class="col-md-{{12/itemsPerRow}}">
				<div class="tile" ng-click="projectSelected($parent.$index,$index)" background="project.banner"></div>
			</div>
		</div>
	</div>
</div>