<div class="container-fluid anim-zoom-out">
	<div class="row page-row-top">
		<div class="col-md-12 page-title">
			<div class="tile-title"><i id="back" class="fa fa-chevron-left" ng-style="{'color' : accent}" ng-click="back()"></i> {{title}}</div>
			<div id="tile-tagline">{{tagline}}</div>
		</div>
	</div>

	<div class="page-content">
		<div class="row page-row-top">
			<div class="page-content-container">
				<div class="project-subtitle col-md-4">
					<i class="fa fa-code fa-icon project-subtitle-icon"></i> <div class="project-sub-tag">Built With</div>
					<div class="project-detail">{{builtWith}}</div>
				</div>

				<div class="project-subtitle col-md-4">
					<i class="fa fa-clock-o fa-icon project-subtitle-icon"></i> <div class="project-sub-tag">Built For</div>
					<div class="project-detail">{{builtFor}}</div>
				</div>

				<div class="project-subtitle col-md-4" ng-if="sourceCode != ''">
					<i class="fa fa-github-alt fa-icon project-subtitle-icon"></i> <div class="project-sub-tag">Source Code</div>
					<div class="project-detail">Availible on <a ng-href="{{sourceCode}}" ng-style="{'color' : accent}">GitHub</a></div>
				</div>		
			</div>

			<div class="page-content-container col-md-12">
				<div class="project-description">{{description}}</div>			
			</div>
		</div>

		<div class="row page-row-top" ng-if="special != ''">
			<div class="col-md-12 page-content-container project-special">
				<i class="fa fa-trophy project-special-icon" ng-style="{'color' : accent}"></i>
				<br>
				{{special}}
			</div>
		</div>

		<div class="row page-row-top">
			<div class="page-content-container">
				<div class="col-md-4" ng-if="screen1 != ''">
					<div class="project-image" background="screen1" ng-click="showImage(screen1)" ng-style="{'border-color' : accent}"></div>
				</div>

				<div class="col-md-4" ng-if="screen2 != ''">
					<div class="project-image-center" background="screen2" ng-click="showImage(screen2)" ng-style="{'border-color' : accent}"></div>
				</div>

				<div class="col-md-4" ng-if="screen3 != ''">
					<div class="project-image-right" background="screen3" ng-click="showImage(screen3)" ng-style="{'border-color' : accent}"></div>
				</div>
			</div>
		</div>
	</div>
</div>