<div class="row page-row-top">
	<div class="col-md-3 page-title">
		<div class="project-container">
			<div class="project-title">Projects</div>
		</div>
	</div>
	<div class="col-md-3"></div>
	<div class="col-md-3"></div>
	<div class="col-md-3"></div>
</div>
`
<div class="page-content">
	<div class="row page-row">
		<div class="col-md-3">
			<div class="project-tile" ng-click="projectSelected()"></div>
		</div>
		<div class="col-md-3">
			<div class="project-tile" ng-click="projectSelected()"></div>
		</div>
		<div class="col-md-3">
			<div class="project-tile" ng-click="projectSelected()"></div>
		</div>
		<div class="col-md-3">
			<div class="project-tile" ng-click="projectSelected()"></div>
		</div>
	</div>
</div>