<div class="anim-zoom-out">
	<div class="row page-row-top">
		<div class="col-md-3 page-title">
			<div class="project-container">
				<div class="project-title">Projects</div>
			</div>
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
	</div>

	<div class="page-content">
		<div ng-repeat="projectRow in projects" class="row page-row">
			<div ng-repeat="project in projectRow" class="col-md-3">
					<div class="project-tile" ng-click="projectSelected()" background="{{project.banner}}"></div>
			</div>
		</div>
	</div>
</div>