<div class="lightbox" showlightbox="lightboxIsVisible">
	<div class="lightbox-image" background="lightboxImage">
		<i class="fa fa-times lightbox-close" ng-click="lightboxIsVisible = false"></i>
	</div>
</div>

<div class="container-fluid anim-zoom-out">
	<div class="row page-row-top">
		<div class="col-md-3 page-title">
			<div class="project-title"><i id="back" class="fa fa-chevron-left" ng-style="{'color' : accent}" ng-click="back()"></i> {{title}}</div>
			<div id="project-tagline">{{tagline}}</div>
		</div>

		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
	</div>

	<div class="page-content">
		<div class="row page-row-top">
			<div class="col-md-12 page-content-container">
				<div class="project-subtitle">
					<i class="fa fa-code fa-icon"></i> Built With
					<div class="project-detail">{{builtWith}}</div>
				</div>

				<div class="project-subtitle">
					<i class="fa fa-clock-o fa-icon"></i> Built For
					<div class="project-detail">{{builtFor}}</div>
				</div>

				<div class="project-subtitle" ng-if="sourceCode != ''">
					<i class="fa fa-github-alt fa-icon"></i> Source Code
					<div class="project-detail">Availible on <a ng-href="{{sourceCode}}" ng-style="{'color' : accent}">GitHub</a></div>
				</div>

				<div class="project-detail">{{description}}</div>			
			</div>
		</div>

		<div class="row page-row-top" ng-if="special != ''">
			<div class="col-md-12 page-content-container project-special">
				<i class="fa fa-trophy project-special-icon" ng-style="{'color' : accent}"></i>
				<br>
				{{special}}
			</div>
		</div>

		<div class="row page-row-top">
			<div class="page-content-container">
				<div class="col-md-4" ng-if="screen1 != ''">
					<div class="project-image" background="screen1" ng-click="showImage(screen1)" ng-style="{'border-color' : accent}"></div>
				</div>

				<div class="col-md-4" ng-if="screen2 != ''">
					<div class="project-image-center" background="screen2" ng-click="showImage(screen2)" ng-style="{'border-color' : accent}"></div>
				</div>

				<div class="col-md-4" ng-if="screen3 != ''">
					<div class="project-image-right" background="screen3" ng-click="showImage(screen3)" ng-style="{'border-color' : accent}"></div>
				</div>
			</div>
		</div>
	</div>
</div>